<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Breweries Found</title>
    </head>
    <body>
        <h1>Search Results</h1>
        <div id="brewContent"><%- table %></div>
        <a href="/">HOME</a>
    </body>
</html>