<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>brewSearch</title>
  </head>
  <body>
    <h1><u>Breweries Search</u></h1>
    <h3>Search by State</h3>
    <form action="./brewState" method="post">
      <label><strong>State: </strong></label>
      <input type="text" name="state" />
      <input type="reset" />
      <input type="submit" value="Submit Request" />
    </form></br>
    <hr>
    <h3>Search by City</h3>
    <form action="./brewCity" method="post">
      <label><strong>City: </strong></label>
      <input type="text" name="city" />
      <input type="reset" />
      <input type="submit" value="Submit Request" />
  </form></br></br>
  <hr>
  <h3>Search by Type</h3>
    <form action = "./brewType" method="post">
      <label><strong>Type: </strong></label>
      <select name="type">
        <option value=""></option>
        <option value="micro">micro</option>
        <option value="nano">nano</option>
        <option value="regional">regional</option>
        <option value="brewpub">brewpub</option>
        <option value="planning">planning</option>
        <option value="contract">contract</option>
      </select>
      <input type="reset" />
      <input type="submit" value="Submit Request" />
    </form></br></br>
    <form action="/recentSearches" method="get">
      <h3>Recent Searches</h3>
      <button type="submit" name = "filter" value = "city">By City</button>
      <button type="submit" name = "filter" value = "state">By State</button>
      <button type="submit" name = "filter" value = "type">By type</button>
    </form>
    <hr>
    <a href="/">HOME</a>
  </body>
</html>
