<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Breweries Found</title>
        <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="header">
          <h1>Search Results</h1>
          <a id="homeDisplay" href="/">HOME</a>
        </div>
        <div id="brewContent"><%- table %></div>
      </body>
</html>