<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>GPA Form</title>
    </head>
    <body>
        <h1>Display GPAs Greater than or Equal to</h1>
        <form action="./processGPA" method="post">
          <label><strong>GPA: </strong></label><input type="text" name="gpa">
          <input type="submit" value="Submit Request">
        </form>
        <hr>
        <a href="/">HOME</a>
    </body>
</html>