<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to Brewery Tracker</h1>
    <h2>Searching</h2>
    <h3>Find Nearest Brewery <a href="/findNearest">Application</a></h3>
        <a href="/reviewApp">Review Application</a>
      </li>
    </ul>
    <hr />
    <h2>User Data</h2>
    <ul>
      <li>
        To remove all applications <a href="/Remove">Remove All Applications</a>
      </li>
    </ul>
    <hr />
  </body>
</html>
