<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Recent</title>
  </head>
  <body>
    <form>
      <h1>
        <strong><u>Recent Searches</u></strong>
      </h1>
      <div id="recents"><%- list %></div>
    </form>
  </body>
</html>
